/* .container {
    background-image: url('projects/website_portfolio/assets/lakeSuperior.jpg');
} */

.jumbotron{
    background-image: url('./assets/lakeSuperior.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.whitetype{
    color: white;
}

.btn-primary{
    background-color: rgb(27, 139, 139);
    border: 1px solid #243033 
}

.btn-primary:hover{
    background-color: rgb(18, 65, 65);
    border: 1px solid #243033 
}

   /*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/