/* .container {
    background-image: url('projects/website_portfolio/assets/lakeSuperior.jpg');
} */
html, body{
    font-family: "Source Sans Pro", sans-serif;
    color:rgb(18, 65, 65);
    /* height: 60%;
    width: 100%; */
    font-size: 1.05em !important;
}

.navbar{
    padding: 1.2 rem;
}

.navbar-nav li{
    padding-right: 25 pix;
}

#navicon{
    font-size: 140% !important;
    padding-right: 25 pix !important; 
    text-align: left; 
}

#navicon:hover{
    color:rgb(38, 129, 129) !important;
}

.nav-link{
    font-size: 1.2em !important; 
}

.padding{
    padding-bottom: 2rem;
}
.welcome{
    width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
}

.welcome hr{
    border-top: 3px solid rgb(38, 129, 129);
    width: 82%;
    margin-bottom: 1 rem;
    margin-top: .3 rem;
}

.jumbotron{
    background-image: url('./assets/lakeSuperior.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#my-name{
    letter-spacing: 0.05em;
}

#web-dp{
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

.whitetype{
    color: white;
}

.headshot{
    /* margin-top: 57px; */
    margin-top: 11.1%;
}

.btn-primary{
    background-color: rgb(38, 129, 129);
    border: 1px solid #243033 
}

.btn-primary:hover{
    background-color: rgb(18, 65, 65);
    border: 1px solid #243033 
}

   /*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/